.center-meta-on-hover .box-image-meta {
background-color: #ff6600;
}

.flag {
background-color: #0099ff;
}

a {
color: #0099ff;
}

.contact .fa {
   color: #0099ff;
}


footer-top-dark .footer-top h3 {
    color: #0099ff;
}

.box-image-meta {
background-color: #ff6600;
}

.widget h3:after {
background-color: #0099ff;
}

.footer-nav ul li a:hover, .navbar-nav ul li a:hover {
  background-color: #0099ff;
}
.footer-nav > li:hover > a,
.navbar-default .navbar-nav > li:hover > a {
  color: #0099ff;
}

#header {
border-top: 0px solid #ff9900;
}