.center-meta-on-hover .box-image-meta {
background-color: #ff6600;
}

.flag {
background-color: #0099ff;
}

a {
color: #0099ff;
}

.contact .fa {
   color: #0099ff;
}


footer-top-dark .footer-top h3 {
    color: #0099ff;
}

.box-image-meta {
background-color: #ff6600;
}

.widget h3:after {
background-color: #0099ff;
}

.footer-nav ul li a:hover, .navbar-nav ul li a:hover{
  background-color: #0099ff;
}
.footer-nav > li:hover > a, .navbar-default .navbar-nav > li:hover > a, .box-subtitle  {
  color: #0099ff;
}

#header {
border-top: 0px;
}

.megamenu > ul {
    top: 114px;
}


.box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden !important;

}

.box:hover{
    border-color: #ffffff;
}

.box:hover .box-title-plain, .box:hover .box-title-plain a {
  color: #ff6600;
}

background-secondary {
    background-color: #0099ff;
}


.lifted {
    box-shadow: 0px 6px 4px rgba(0,0,0,0.4);
    position: relative;
}

.lifted:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    background-image: radial-gradient(center bottom, ellipse farthest-side, rgb(180, 180, 180) 80%, rgba(180, 180, 180, 0) 100%);
}
box-title-plain, .box-title-plain a {
    color: #ff6600;
}

#google-map, #google-map-directory {
    height: 600px;
}
#search-header{
    color: #ffffff;
}

.search {
    margin-top: -40%;
}
.search .form-section{
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px;
}

.form-control {
    padding: 8px 10px;
}

.btn-terciary {
    background-color: #ff9900;
}
.btn-terciary:active, .btn-terciary:focus, .btn-terciary:hover {
background-color: #ff6600;
}

