{% extends "back.html" %}
{% load bootstrap3 %}
{% block header %} Properties {% endblock %}
{% block content %}

<table class="table table-striped table-condensed table-hover">
    <thead>
    <tr>
        <th>Property</th>
        <th>Price</th>
        <th>Status</th>
        <th>Neighbourhood, City</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>

        {% for property in object_list %}
        <tr>
        <td>{{ property.name }} - {{ property.category }}</td>
        <td>{{ property.price }}</td>
        <td></td>
        <td>{{ property.neighbourhood }}, {{ property.city }}</td>
        <td class="toolbar">
            <div class="btn-group">
                <a class="btn btn-default" href="/dashboard/properties/edit/{{ property.id }}"><span class="elusive icon-pencil"></span></a>
                <a class="btn btn-default" href="/dashboard/properties/images/{{ property.id }}"><span class="elusive icon-instagram"></span></a>
                <button class="btn btn-default"><span class="elusive icon-eye-open"></span></button>
                <button class="btn btn-default"><span class="elusive icon-trash"></span></button>
            </div>
        </td>

        </tr>
        {% endfor %}

</table>

{% endblock %}