{% extends "back.html" %}
{% load bootstrap3 %}
{% block header %} Add Properties {% endblock %}
{% block header_actions %}
<li class="active"><a href="{% url "dashboard.properties.property_list" %}" class="btn btn-alt"><span class="elusive icon-list"></span> My Properties</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons  layout='horizontal' %}
        <button type="submit" class="btn btn-primary">
            Save
        </button>
        <button type="button" class="btn" onclick="history.back()">
            Cancel
        </button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}