/* -----------------------------------------------------------------------------

    This file is used to add your own CSS definitions.
	Don't forget to link this CSS to all your HTML files (uncomment it in HEAD tag).

----------------------------------------------------------------------------- */
    #wrapper{


    }
	/* your CSS here */
	.header-branding{
		top: 14px;
		max-width: 256px;
	}
	/**
	#header  {
		background-color: #292f33;
	}
	.header-form {
		background-color: #292f33;
	}
	.header-nav a {
		background-color: #292f33;
	}
	.banner-search .tab-content-list {
		background-color: #292f33;
		}
	.banner-search .tab-title {
		background-color: #292f33;
	}
	#footer {
		background-color: #292f33;
	}
		
/* -----------------------------------------------------------------------------

    RESPONSIVE DEFINITIONS

----------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------
        LARGE DEVICES
		devices with width between 992px and 1199px
    ------------------------------------------------------------------------- */

    @media ( max-width: 1199px ) {

		/* your CSS here */

	}

    /* -------------------------------------------------------------------------
        MEDIUM DEVICES
		devices with width between 768px and 991px
    ------------------------------------------------------------------------- */

    @media ( max-width: 991px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        SMALL DEVICES
		devices with width between 481px and 767px
    ------------------------------------------------------------------------- */

    @media ( max-width: 767px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        EXTRA SMALL DEVICES
		devices with width up to 480px
    ------------------------------------------------------------------------- */

	@media ( max-width: 480px ) {

		/* your CSS here */

	}