{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap3 %}
{% load account_tags %}

{% block title %}{{ block.super }}{% trans "|Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
<div class="container">
	<div class="block-content">
    	<div class="block-content-inner clearfix">
			<div class="page-header page-header-no-rules center">
				<h1>{% trans "Password reset" %}</h1>
			</div><!-- /.page-header -->

			<div class="col-sm-6 col-sm-offset-4">
            <form method="POST" action="">
                <p class="lead">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-terciary btn-block">
                    {% trans "Reset my password" %}
                </button>
                <p>{% blocktrans %}If you have any trouble resetting your password, contact us at</a>.{% endblocktrans %}</p>

            </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}