{% load humanize %}
<div class="block-content no-padding-bottom">
    <div class="block-content-inner">
        <div class="container">
            <h3 class="widgetized-title">Featured Properties</h3>
        </div><!-- /.container -->
        <div class="box-images center-meta-on-hover clearfix">
            {% for property in properties %}
                <div class="box-image col-xs-12 col-sm-4 col-md-3 col-lg-2 hidden-xs hidden-sm hidden-md">
                <a href="{% url 'properties.listing' property.slug %}">
                    <img src="{{ MEDIA_URL }}{{ property.primary_image_thumbnail }}" alt="">

                    <span class="flag">Ksh {{ property.price|floatformat|intcomma|intword }}</span>

                    <span class="description">
                        <span class="description-inner">
                            <span class="title">{{ property.name|truncatechars:15 }}</span><!-- /.title -->
                            <span class="row box-image-meta">
                                <span class="box-image-meta-cell col-sm-3">
                                    <span class="box-image-meta-cell-inner">
                                        <strong>Area</strong>
                                        <span>80m<sup>2</sup></span>
                                    </span><!-- /.box-image-meta-cell-inner -->
                                </span><!-- /.box-image-meta-cell -->

                                <span class="box-image-meta-cell col-sm-3">
                                    <span class="box-image-meta-cell-inner">
                                        <strong>Garage</strong>
                                        <span>Yes</span>
                                    </span><!-- /.box-image-meta-cell-inner -->
                                </span><!-- /.box-image-meta-cell -->

                                <span class="box-image-meta-cell col-sm-3">
                                    <span class="box-image-meta-cell-inner">
                                        <strong>Beds</strong>
                                        <span>{{ property.bedrooms }}</span>
                                    </span><!-- /.box-image-meta-cell-inner -->
                                </span><!-- /.box-image-meta-cell -->

                                <span class="box-image-meta-cell col-sm-3">
                                    <span class="box-image-meta-cell-inner">
                                        <strong>Bath</strong>
                                        <span>{{ property.bathrooms }}</span>
                                    </span><!-- /.box-image-meta-cell-inner -->
                                </span><!-- /.box-image-meta-cell -->
                            </span><!-- /.box-image-meta -->
                        </span><!-- /.description-inner -->
                    </span><!-- /.description -->
                    </a>
                </div><!-- /.box-image -->

            {% endfor %}
        </div><!-- /.box-images -->
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->
