    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-inner">
                                    <div class="footer-top">
                        <div class="container">
                            <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget">
            <h3>Property Types</h3>

            <div class="list-group">
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Apartments for rent <!--<span class="badge">149</span>  --></a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Apartments for sale </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Condo </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Cottage </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Offices </a>
            </div><!-- /.list-group -->

        </div><!-- /.widget -->
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget">
            <h3>Towns</h3>

            <div class="list-group">
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Nairobi <!--<span class="badge">149</span> --></a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Mombasa </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Kisumu </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Nakuru </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Eldoret </a>
            </div><!-- /.list-group -->
        </div><!-- /.widget -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget">
            <h3>Neighbourhoods</h3>

            <div class="list-group">
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Donholm <!--<span class="badge">149</span>--></a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Kileleshwa </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Riverside </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Cottage </a>
                <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Rongai </a>
            </div><!-- /.list-group -->
        </div><!-- /.widget -->
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget">
            <h3>Contact us</h3>

            <table class="contact">
                <tbody>
                    <tr>
                        <th class="address"><i class="fa fa-map-marker"></i> Address</th>
                        <td>24 Ojijo Road<br>Parklands, Nairobi<br>Kenya<br></td>
                    </tr>

                    <tr>
                        <th class="phone"><i class="fa fa-phone"></i> Phone</th>
                        <td>+254 727 843 600</td>
                    </tr>

                    <tr>
                        <th class="email"><i class="fa fa-envelope"></i> E-mail</th>
                        <td><a href="mailto:info@example.com">info@homesoko.com</a></td>
                    </tr>

                    <tr>
                        <th class="skype"><i class="fa fa-skype"></i>Skype</th>
                        <td>homesoko</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.widget -->
    </div>
</div>

<div class="block-content block-content-medium-padding fullwidth background-primary-dark">
    <div class="block-content-inner">
        <div class="social-stripe center">
            <a href="https://facebook.com/homesoko/" class="facebook" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/homesoko/" class="twitter"  target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <!--
            <a href="#" class="dribbble">
                <i class="fa fa-dribbble"></i>
            </a>
            <a href="#" class="linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#" class="pinterest">
                <i class="fa fa-pinterest"></i>
            </a>
            <a href="#" class="dropbox">
                <i class="fa fa-dropbox"></i>
            </a>
            <a href="#" class="linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#" class="foursquare">
                <i class="fa fa-foursquare"></i>
            </a>
            <a href="#" class="instagram">
                <i class="fa fa-instagram"></i>
            </a>
            -->
        </div><!-- /.social-stripe -->
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->                        </div><!-- /.container -->
                    </div><!-- /.footer-top -->
            </div><!-- /#footer-inner -->
        </div><!-- /#footer -->
    </div><!-- /#footer-wrapper -->