<div id="header-wrapper">
<div id="header">
<div id="header-inner">
    <div class="header-bar">
        <div class="container">
            <div class="header-infobox">
                <strong>E-mail:</strong> <a href="#">soko@homesoko.com</a>
            </div><!-- /.header-infobox-->

            <div class="header-infobox">
                <strong>Phone:</strong> +254-727-843-600
            </div><!-- /.header-infobox-->

                <ul class="header-bar-nav nav nav-register">
                        <li><a href="{% url 'userena_signin' %}">Login</a></li>
                        <li><a href="{% url 'userena_signup' %}">Register</a></li>
                        <li><a href="{% url 'userena_password_reset' %}">Renew Password</a></li>
                    </ul>
        </div><!-- /.container -->
    </div><!-- /.header-bar -->
    <div class="header-top">
        <div class="container">
            <div class="header-identity">
                <div class="header-branding">
                    <a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/homesoko.png" alt="Homesoko"></a>
                </div>
            </div><!-- /.header-identity -->

            <div class="header-actions pull-right">
                <a href="create-agency.html" class="btn btn-regular">Create Agency Profile</a> <strong class="separator">or</strong> <a href="submit-property.html" class="btn btn-primary"><i class="fa fa-plus"></i>Submit Property</a>
            </div><!-- /.header-actions -->

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".header-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div><!-- /.container -->
    </div><!-- .header-top -->

    <div class="header-navigation">
        <div class="container">
            <div class="row">
                <ul class="header-nav nav nav-pills">
                    <li><a>Home</a></li>
                    <li class="menuparent">
                        <a href="#">Rent</a>

                        <ul class="sub-menu">
                            <li><a href="#">Apartments</a></li>
                            <li><a href="#">Villas</a></li>
                        </ul>
                    </li>
                    <li class="menuparent">
                        <a href="#">Buy</a>

                        <ul class="sub-menu">
                            <li><a href="#">Apartments</a></li>
                            <li><a href="#">Villas</a></li>
                        </ul>
                    </li>
                    <li class="menuparent">
                        <a href="#">Neighbourhoods</a>

                        <ul class="sub-menu">
                            <li><a href="#">Donholm</a></li>
                            <li><a href="#">Riverside</a></li>
                            <li><a href="#">Miotoni</a></li>
                        </ul>
                    </li>
                    <li class="menuparent">
                        <a href="#">Cities</a>

                        <ul class="sub-menu">
                            <li><a href="#">Nairobi</a></li>
                            <li><a href="#">Mombasa</a></li>
                            <li><a href="#">Kisumu</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Land</a></li>
                    <li><a href="#">Agents</a></li>
                    <li><a href="#">Contact</a></li>
                    </ul><!-- /.header-nav -->

            </div>
        </div><!-- /.container -->
     </div><!-- /.header-navigation -->
</div><!-- /.header-inner -->
</div><!-- /#header -->
</div><!-- /#header-wrapper -->