<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Error 403 | Sangoma Bootstrap Admin Template</title>
		<meta name="description" content="">
		<meta name="author" content="Walking Pixels | www.walkingpixels.com">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load staticfiles %}
		<!-- Styles -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/sangoma-blue.css">

		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery.js"><\/script>')</script>
		<script src="{{ STATIC_URL }}js/libs/modernizr.js"></script>

		<!-- IE8 support of media queries and CSS 2/3 selectors -->
		<!--[if lt IE 9]>
			<script src="{{ STATIC_URL }}js/libs/respond.min.js"></script>
			<script src="{{ STATIC_URL }}js/libs/selectivizr.js"></script>
		<![endif]-->
		
		<script src="js/less.js"></script>
		<script>
			// Clean LESS Cache (LocalStorage)
			function destroyLessCache(pathToCss) { // e.g. '/css/' or '/stylesheets/'
				if (!window.localStorage || !less || less.env !== 'development') {
					return;
				}
				var host = window.location.host;
				var protocol = window.location.protocol;
				var keyPrefix = protocol + '//' + host + pathToCss;
				
				for (var key in window.localStorage) {
					if (key.indexOf(keyPrefix) === 0) {
						delete window.localStorage[key];
					}
				}
			}
			destroyLessCache('/wp-sangoma/less/');
		</script>

	</head>
	{% block content %}{% endblock %}
</html>
