<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Homesoko User Profile</title>
		<meta name="description" content="">
		<meta name="author" content="Homesoko Team">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load staticfiles %}
        {% load bootstrap3 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
		<!-- PrettyCheckable Styles -->
		<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/plugins/prettycheckable/prettyCheckable.css'>

		<!-- Styles -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/sangoma-blue.css">

		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery.js"><\/script>')</script>
		<script src="{{ STATIC_URL }}js/libs/modernizr.js"></script>

		<!-- IE8 support of media queries and CSS 2/3 selectors -->
		<!--[if lt IE 9]>
			<script src="{{ STATIC_URL }}js/libs/respond.min.js"></script>
			<script src="{{ STATIC_URL }}js/libs/selectivizr.js"></script>
		<![endif]-->
		{% block fileuploadassets %}{% endblock %}		
	</head>
	<body>
		
		<!-- Full height wrapper -->
		<div id="wrapper">
			
			<!-- Main page header -->
			<header id="header" class="container">

				<h1>
					<!-- Main page logo -->
					<a href="/" class="brand">homesoko</a>
					
		
				</h1>
				
				<!-- User profile -->
				<div class="user-profile">
					<figure>

						<!-- User profile avatar
						<img alt="avatar" src="">
						 -->
						<!-- User profile info 
						<figcaption>
							<strong><a href="/profile/account/" class="">{{ user.first_name }} {{ user.last_name }}</a></strong>
							<ul>
								<li><a href="/profile/account/" title="Account settings">My Account</a></li>
								<li><a href="/profile/logout/" title="Logout">Logout</a></li>
							</ul>
						</figcaption>
						<!-- /User profile info -->

					</figure>
				</div>		
		<!-- /Full height wrapper -->
		
				<!-- /User profile -->


			</header>
			<!-- /Main page header -->
			
			<!-- Main page container -->
			<section class="container" role="main">
			<!-- Grid row -->
				<div class="row">
			
					<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block" href="{% url "dashboard_properties_create" %}">
							<span class="widget-icon elusive icon-file-new-alt"></span>
							<strong>Add property</strong>
						</a>
					</div>
					<!-- /Widget block -->
					
							<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block" href="{% url "dashboard_properties_list" %}">
							<span class="widget-icon elusive icon-list"></span>
							<strong>My Properties</strong>
						</a>
					</div>
					<!-- /Widget block -->
			
					<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block" href="{% url "userena_profile_detail" username=user.username %}">
							<span class="widget-icon elusive icon-cogs"></span>
							<strong>My Account</strong>
						</a>
					</div>
					<!-- /Widget block -->
			
					<!-- Widget block -->
					<div class="col-sm-3 col-xs-6">
						<a class="data-block widget-block" href="{% url "userena_signout" %}">
							<span class="widget-icon elusive icon-lock-alt"></span>
							<strong>Logout</strong>
						</a>
					</div>
					<!-- /Widget block -->
			
				</div>
				<!-- /Grid row -->
				{% block content %}

				{% endblock %}
			</section>
		<!-- Main page footer -->
		<footer id="footer">
			<div class="container">

				<!-- Footer info -->
				<p><a href="/">homesoko</a> crafted by <a href="/">homesoko team</a></p>

				<!-- Footer nav -->
				<ul>
					<li><a href="/profile/" class="">Dashboard</a></li>
					<li><a href="/profile/saved/" class="">Favourites</a></li>
					<li><a href="/profile/searches/" class="">Your Searches</a></li>
					<li><a href="/profile/account/" class="">Account</a></li>
					<li><a href="/profile/logout/" class="">Logout</a></li>
				</ul>
				<!-- /Footer nav -->

				<!-- Footer back to top -->
				<a href="#top" class="btn btn-alt"><span class="icon-arrow-up"></span></a>

			</div>
		</footer>
		<!-- /Main page footer -->

		<!-- Wizard -->
		<script src="{{ STATIC_URL }}js/plugins/bootstrapWizard/jquery.bootstrap.wizard.js"></script>

	</div>

	</body>
</html>
