
    <div id="main-wrapper">
        <div id="main">
            <div id="main-inner">
<div class="google-map-wrapper">
    <div id="google-map">
        {% include 'partials/main_carousel.html' %}
    </div>

    <div class="container">


    <div class="google-map-filter col-xs-12 col-sm-4 col-md-3 pull-right">

        <form method="post" action="?" class="clearfix">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Address">
            </div><!-- /.form-group -->

            <div class="form-group">
                <select name="" data-placeholder="Select Country" class="form-control">
                    <option value="#">Select Country</option>
                    <option value="#">Czech Republic</option>
                    <option value="#">Germany</option>
                    <option value="#">France</option>
                    <option value="#">Hungary</option>
                    <option value="#">Italy</option>
                    <option value="#">Poland</option>
                    <option value="#">Slovak Republic</option>
                    <option value="#">Ukraine</option>
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <select name="" data-placeholder="Select Disctrict" class="form-control">
                    <option value="#">Select Disctrict</option>
                    <option value="#">Brooklyn</option>
                    <option value="#">Bronx</option>
                    <option value="#">Manhattan</option>
                    <option value="#">Village</option>
                    <option value="#">Queens</option>
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <select name="" data-placeholder="Select City" class="form-control">
                    <option value="#">Select City</option>
                    <option value="#">Berlin</option>
                    <option value="#">Canberra</option>
                    <option value="#">London</option>
                    <option value="#">New York</option>
                    <option value="#">Paris</option>
                    <option value="#">Prague</option>
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <select name="" data-placeholder="Select Business Type" class="form-control">
                    <option value="#">Select Business Type</option>
                    <option value="#">Autoservice</option>
                    <option value="#">Bank</option>
                    <option value="#">Bar</option>
                    <option value="#">Castle</option>
                    <option value="#">Hospital</option>
                    <option value="#">Museum</option>
                    <option value="#">Restaurant</option>
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Price From">
                    </div>

                    <div class="col-xs-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Price To">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-terciary btn-block">
            </div><!-- /.form-group -->
        </form>
    </div><!-- /.google-map-filter -->
</div><!-- /.container --></div><!-- /.google-map-wrapper -->
{% block featured %}
    {% include "partials0/featured.html" %}
{% endblock %}
<div class="container">
{% block agents %}
    {# include "partials0/agents.html" #}
{% endblock %}

{% block premium %}
    {% include "partials0/premium.html" %}
{% endblock %}
{% block promo %}
    {# include "partials0/promo.html" #}
{% endblock %}
</div><!-- /.container -->
{% block recent %}
    {% include "partials0/recent.html" %}
{% endblock %}
        </div><!-- /#main-inner -->
    </div><!-- /#main -->
</div><!-- /#main-wrapper -->

