
    <div class="block-content fullwidth background-gray">
    <div class="block-content-inner">
        <h3 class="widgetized-title">Our Agents</h3>

        <div class="row">
            <div class="col-sm-4">
                <div class="box background-white">
                    <div class="row">
                        <div class="col-md-12 col-lg-5">
                            <div class="row">
                                <div class="box-picture">
                                    <a href="#">
                                        <img src="../../assets/img/tmp/authors/3-large.jpg" alt="">
                                        <span></span>
                                    </a>
                                </div><!-- /.box-picture -->
                            </div><!-- /.row -->
                        </div>

                        <div class="col-md-12 col-lg-7">
                            <div class="row">
                                <div class="box-body">
                                    <h2 class="box-title-plain"><a href="#">John Smith</a></h2>

                                    <p>
                                        Donec vestibulum, risus quis aliquet ultricies, sem neque condimentum dui, a
                                        gravida turpis metus at enim.
                                    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box -->
            </div>

            <div class="col-sm-4">
                <div class="box background-white">
                    <div class="row">
                        <div class="col-md-12 col-lg-5">
                            <div class="row">
                                <div class="box-picture">
                                    <a href="#">
                                        <img src="../../assets/img/tmp/authors/4-large.jpg" alt="">
                                        <span></span>
                                    </a>
                                </div><!-- /.box-picture -->
                            </div><!-- /.row -->
                        </div>

                        <div class="col-md-12 col-lg-7">
                            <div class="row">
                                <div class="box-body">
                                    <h2 class="box-title-plain"><a href="#">Kim Anderson</a></h2>

                                    <p>
                                        Donec vestibulum, risus quis aliquet ultricies, sem neque condimentum dui, a
                                        gravida turpis metus at enim.
                                    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box -->
            </div>

            <div class="col-sm-4">
                <div class="box background-white">
                    <div class="row">
                        <div class="col-md-12 col-lg-5">
                            <div class="row">
                                <div class="box-picture">
                                    <a href="#">
                                        <img src="../../assets/img/tmp/authors/1-large.jpg" alt="">
                                        <span></span>
                                    </a>
                                </div><!-- /.box-picture -->
                            </div><!-- /.row -->
                        </div>

                        <div class="col-md-12 col-lg-7">
                            <div class="row">
                                <div class="box-body">
                                    <h2 class="box-title-plain"><a href="#">Marge Doe</a></h2>

                                    <p>
                                        Donec vestibulum, risus quis aliquet ultricies, sem neque condimentum dui, a
                                        gravida turpis metus at enim.
                                    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

