<div class="block-content background-secondary background-technology fullwidth">
    <div class="block-content-inner">
        <div class="merged-boxes clearfix">
            <div class="merged-box col-sm-4">
                <div class="merged-box-content clearfix">
                    <h3><i class="fa fa-windows color-windows"></i> Win Phone</h3>

                    <p>
                        Nullam in sodales metus, non scelerisque tellus. Quisque a volutpat nunc. Donec laoreet diam.
                    </p>

                    <a href="#" class="merged-box-read-more">Get your app <i class="fa fa-chevron-right"></i></a>
                </div>
            </div><!-- /.merged-box -->

            <div class="merged-box col-sm-4">
                <div class="merged-box-content clearfix">
                    <h3><i class="fa fa-apple color-apple"></i> iPhone</h3>

                    <p>
                        Nullam in sodales metus, non scelerisque tellus. Quisque a volutpat nunc. Donec laoreet diam.
                    </p>

                    <a href="#" class="merged-box-read-more">Get your app <i class="fa fa-chevron-right"></i></a>
                </div>
            </div><!-- /.merged-box -->

            <div class="merged-box col-sm-4">

                <div class="merged-box-content clearfix">
                    <h3><i class="fa fa-android color-android"></i> Android</h3>

                    <p>
                        Nullam in sodales metus, non scelerisque tellus. Quisque a volutpat nunc. Donec laoreet diam.
                    </p>

                    <a href="#" class="merged-box-read-more">Get your app <i class="fa fa-chevron-right"></i></a>
                </div>
            </div><!-- /.merged-box -->
        </div><!-- /.merged-boxes -->
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->
    <div class="block-content background-map background-white fullwidth">
    <div class="block-content-inner">
        <div class="row">
            <div class="col-sm-3 center">
                <i class="large-icon color-primary entypo paper-plane"></i>
                <h4>Unique Design</h4>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna
                </p>
            </div>
            <div class="col-sm-3 center">
                <i class="large-icon color-primary entypo archive"></i>
                <h4>Perfect Files</h4>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna
                </p>
            </div>
            <div class="col-sm-3 center">
                <i class="large-icon color-primary entypo star"></i>
                <h4>Creative Layout</h4>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna
                </p>
            </div>
            <div class="col-sm-3 center">
                <i class="large-icon color-primary entypo lifebuoy"></i>
                <h4>Professional Support</h4>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.block-content-inner -->
</div>
<!-- /.block-content -->