{% extends 'frontend.html' %}
{% load i18n %}

{% block title %}{% trans "Signed out" %}{% endblock %}
{% block content_title %}<h2>{% trans "You have been signed out" %}.</h2>{% endblock %}

{% block content %}
<body class="lost-password">
<!-- Data block -->
<section class="container" role="main">
<div class="row">
	<div class="col-sm-offset-2 col-sm-8">

	<h1>{% trans "You have been signed out. Till we meet again." %}</h1>
	<a href="{% url "userena_signin" %}" class="btn btn-inverse btn-block btn-lg">Signin to dashboard</a>
	<a href="/" class="btn btn-inverse btn-block btn-lg">Go to Homesoko</a>	 
	</div>
</div>
</section>
</body>
{% endblock %}
