{% extends "base.html" %}
{% block content %}
<div class="google-map-wrapper">
    <div id="google-map">
        {% include 'partials/main_carousel.html' %}
    </div>

    <div class="container">
    </div><!-- /.container --></div><!-- /.google-map-wrapper -->
{% block featured %}
    {# include "partials/featured.html" #}
{% endblock %}
<div class="container">
{% block agents %}
    {# include "partials/agents.html" #}
{% endblock %}

{% block premium %}
    {% include "partials/premium.html" %}
{% endblock %}
{% block promo %}
    {# include "partials/promo.html" #}
{% endblock %}
</div><!-- /.container -->
{% block recent %}
    {# include "partials/recent.html" #}
{% endblock %}



{% endblock %}