{% extends "base_frontend.html" %}
{% block content %}
		<!-- CORE : begin -->
		<div id="core" class="page-property-details">

			<!-- PAGE HEADER : begin -->
			<div class="page-header">
				<div class="container">
					<div class="page-header-inner clearfix">
						<h1>Hacienda in Mexico - Rent</h1>
						<ul class="custom-list breadcrumbs">
							<li><a href="index.html">Home</a> / </li>
							<li><a href="properties-listing-grid.html">Search Results</a> /</li>
							<li><a href="property-details-rent.html">Property Details</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- PAGE HEADER : end -->

			<!-- MAIN WRAPPER : begin -->
			<div class="main-wrapper-container">
				<div class="container">
					<div id="main-wrapper">
						<div class="row">
							<div class="col-md-8 col-md-push-4">

								<!-- PROPERTY DETAILS : begin -->
								<div class="property-details">

									<!-- PROPERTY IMAGES : begin -->
									<div class="property-images">
										<div class="image-list">
											<div class="image"><img src="{{ STATIC_URL }}dummies/property_01.jpg" alt="Short photo description should go right here"></div>
											<div class="image"><img src="{{ STATIC_URL }}dummies/property_02.jpg" alt="Short photo description should go right here"></div>
											<div class="image"><img src="{{ STATIC_URL }}dummies/property_03.jpg" alt="Short photo description should go right here"></div>
										</div>
										<div class="images-footer">
											<div class="images-footer-inner">
												<div class="image-description"></div>
												<div class="image-counter"></div>
											</div>
											<button class="prev-btn"><i class="fa fa-chevron-left"></i></button>
											<button class="next-btn"><i class="fa fa-chevron-right"></i></button>
										</div>
									</div>
									<!-- PROPERTY IMAGES : end -->

									<div class="row">
										<div class="col-md-8">

											<!-- PROPERTY DESCRIPTION : begin -->
											<div class="property-description">

												<!-- DESCRIPTION TEXT : begin -->
												<div class="description-text">
													<h4>Object Description</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.</p>
												</div>
												<!-- DESCRIPTION TEXT : end -->

												<!-- TABS : begin -->
												<div class="tabs-container">
													<ul class="tab-title-list">
														<li class="tab-title active"><a href="#amenities">Amenities</a></li>
														<li class="tab-title"><a href="#reviews">Reviews</a></li>
													</ul>
													<ul class="tab-content-list">

														<!-- AMENITIES TAB : begin -->
														<li class="tab-content active" id="amenities">

															<div class="row">
																<div class="col-sm-6">
																	<ul class="check-list">
																		<li>Air Conditioning</li>
																		<li>Balcony/Loggia</li>
																		<li>Cable TV</li>
																		<li class="unchecked">DVD</li>
																		<li>Audio/Radio</li>
																		<li class="unchecked">Dishwasher</li>
																	</ul>
																</div>
																<div class="col-sm-6">
																	<ul class="check-list">
																		<li>Fridge</li>
																		<li>Grill</li>
																		<li>Internet</li>
																		<li class="unchecked">Oven</li>
																		<li>Parking</li>
																		<li class="unchecked">Smoking Allowed</li>
																	</ul>
																</div>
															</div>

														</li>
														<!-- AMENITIES TAB : end -->

														<!-- COMMENTS TAB : begin -->
														<li class="tab-content">

															<div class="comments">
																<ul class="custom-list comment-list">

																	<!-- COMMENT 1 : begin -->
																	<li class="comment">
																		<div class="author"><strong>Jenny &amp; Tom </strong> - <span class="date">Nov. 14, 2013</span></div>
																		<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
																		<div class="review">
																			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
																		</div>
																	</li>
																	<!-- COMMENT 1 : end -->

																	<!-- COMMENT 2 : begin -->
																	<li class="comment">
																		<div class="author"><strong>Tom &amp; Jerry </strong> - <span class="date">Nov. 4, 2013</span></div>
																		<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
																		<div class="review">
																			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
																		</div>
																	</li>
																	<!-- COMMENT 2 : end -->

																	<!-- COMMENT 3 : begin -->
																	<li class="comment">
																		<div class="author"><strong>Kate </strong> - <span class="date">Nov. 1, 2013</span></div>
																		<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
																		<div class="review">
																			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
																		</div>
																	</li>
																	<!-- COMMENT 3 : end -->

																</ul>
															</div>

														</li>
														<!-- COMMENTS TAB : end -->

													</ul>
												</div>
												<!-- TABS : end -->

											</div>
											<!-- PROPERTY DESCRIPTION : end -->

										</div>
										<div class="col-md-4">

											<!-- PROPERTY PANEL : begin -->
											<div class="property-panel">

												<!-- OBJECT PRICE : begin -->
												<div class="panel-item object-price">
													<h4 class="panel-item-title">Price</h4>
													<p class="price">from <strong>$37</strong>/ night</p>
												</div>
												<!-- OBJECT PRICE : end -->

												<!-- OBJECT RATING : begin -->
												<div class="panel-item object-rating">
													<h4 class="panel-item-title">Object Rating</h4>
													<p class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></p>
												</div>
												<!-- OBJECT RATING : end -->

												<!-- OBJECT OWNER : begin -->
												<div class="panel-item object-owner">
													<h4 class="panel-item-title">Object Owner</h4>
													<div class="clearfix">
														<div class="portrait">
															<img src="dummies/portrait_02_240.jpg" alt="">
															<h5 class="name"><i class="ico-person"></i> John Goodman</h5>
														</div>
													</div>
												</div>
												<!-- OBJECT OWNER : end -->

												<!-- BOOK FORM : begin -->
												<div class="panel-item contact-form">
													<h4 class="panel-item-title">Message to Owner</h4>
													<form class="default-form" action="property-details-rent.html">
														<p class="alert-message warning validation" style="display: none;"><i class="ico fa fa-exclamation-circle"></i> Please fill all fields!</p>
														<p class="form-row">
															<input type="text" class="required" placeholder="Your Name">
														</p>
														<p class="form-row">
															<input type="text" class="email required" placeholder="Your Email">
														</p>
														<p class="form-row">
															<textarea class="required" placeholder="Message"></textarea>
														</p>
														<p class="form-row">
															<button class="button submit-btn"><i class="fa fa-envelope"></i> Send Message</button>
														</p>
													</form>
												</div>
												<!-- BOOK FORM : end -->

											</div>
											<!-- PROPERTY PANEL : end -->

										</div>
									</div>

								</div>
								<!-- PROPERTY DETAILS : end -->

							</div>
							<div class="col-md-4 col-md-pull-8">

								<!-- PROPERTY LOCATION DETAILS : begin -->
								<aside class="property-location-details">
									<h3 class="property-location-title">Location &amp; Details</h3>

									<!-- PROPERTY MAP : begin -->
									<div class="property-map">
										<iframe src="https://maps.google.com/maps?q=32.524526,-117.12392&amp;num=1&amp;ie=UTF8&amp;ll=32.514104,-117.110953&amp;spn=0.007843,0.013937&amp;t=m&amp;z=14&amp;output=embed"></iframe>
										<a href="#" class="map-btn"><i class="fa fa-search-plus"></i></a>
									</div>
									<!-- PROPERTY MAP : end -->

									<!-- PROPERTY INFO : begin -->
									<div class="property-info">
										<h4 class="property-info-title">Details</h4>

										<!-- ADDRESS : begin -->
										<div class="toggle-container property-address">
											<h5 class="toggle-title">Address</h5>
											<div class="toggle-content">

												<p>Del Mar 110<br>
												82010 Mazatlán, Sinaloa,<br>
												Mexico</p>

											</div>
										</div>
										<!-- ADDRESS : end -->

										<!-- ACCOMODATION : begin -->
										<div class="toggle-container property-accomodation">
											<h5 class="toggle-title">Accomodation</h5>
											<div class="toggle-content">

												<ul class="custom-list">
													<li>Beds <strong>2</strong></li>
													<li>People allowed <strong>4</strong></li>
													<li>Bathrooms <strong>1</strong></li>
													<li>Year built <strong>2006</strong></li>
												</ul>

											</div>
										</div>
										<!-- ACCOMODATION : end -->

										<!-- ADDITIONAL : begin -->
										<div class="toggle-container property-additional">
											<h5 class="toggle-title">Additional Information</h5>
											<div class="toggle-content">

												<ul class="custom-list check-list">
													<li>Air Conditioning</li>
													<li>Garden</li>
													<li>Swimming Pool</li>
													<li>Sea View</li>
													<li>Pets Allowed</li>
													<li>Parking</li>
													<li>Internet Connection</li>
													<li>Radio/TV</li>
													<li>Separate Toilet</li>
													<li>Children Friendly</li>
												</ul>

											</div>
										</div>
										<!-- ADDITIONAL : end -->

									</div>
									<!-- PROPERTY INFO : end -->

								</aside>
								<!-- PROPERTY LOCATION DETAILS : end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- MAIN WRAPPER : end -->

		</div>
		<!-- CORE : end -->
{% endblock %}