{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="block-content">
                <h2 class="widgetized-title">
                    {{ property.name }} <small class="subtitle">{{ property.neighbourhood }}, {{ property.city }}</small>
                </h2>

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" {% if forloop.first %}class="active"{% endif %}></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        {% for image in images %}
                            <div {% if forloop.first %}class="item active"{% else %}class="item"{% endif %}>
                                <img alt="{{ property.name }}" src="{{ MEDIA_URL }}{{ image.file }}">
                            </div>
                        {% endfor %}
                    </div><!-- /.carousel-inner -->
                </div><!-- /.carousel -->

                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="widgetized-title">Overview</h3>

                        <div class="box background-white">
                            <div class="box-body">
                                <div class="box-content">
                                    <dl class="dl-horizontal no-top-margin">
                                        <dt class="odd">Price</dt>
                                        <dd class="odd">Ksh {{ property.price|floatformat|intcomma|intword }}</dd>
                                        <dt>Baths</dt>
                                        <dd>2</dd>
                                        <dt class="odd">Beds</dt>
                                        <dd class="odd">{{ property.bedrooms }}</dd>
                                        <dt>Type</dt>
                                        <dd>{{ property.property_type }}</dd>
                                        <dt class="odd">Garage</dt>
                                        <dd class="odd">Yes</dd>
                                    </dl>
                                </div>
                            </div>
                        </div><!-- /.box -->
                    </div>

                    <div class="col-sm-8">
                        <h3 class="widgetized-title">Description</h3>
                        <p>
                            {{ property.description }}
                        </p>
                    </div>
                </div>

                    <h3 class="widgetized-title">Available</h3>

                                <div class="row">
                                    <ul class="property-detail-amenities">
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Air conditioning</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Balcony</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Bedding</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Cable TV</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Cleaning after exit</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Cofee pot</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Computer</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Cot</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Dishwasher</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> DVD</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Fan</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Fridge</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Grill</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Hairdryer</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Heating</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Hi-fi</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Internet</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Iron</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Juicer</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Lift</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Microwave</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Oven</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Parking</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Parquet</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Radio</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Roof terrace</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Smoking allowed</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Terrace</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Toaster</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i> Towelwes</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Use of pool</li>
                                        <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i> Video</li>
                                    </ul>
                                </div><!-- /.row -->
            </div><!-- /.block-content -->
        </div>

        <div class="col-sm-3">
            <div class="sidebar">
                <div class="block-content">
                    <div class="widget widget-boxed">
    <h3>Enquire Now</h3>

    <form method="post">
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control">
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control">
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control"></textarea>
        </div><!-- /.form-group -->

        <input type="submit" class="btn btn-block btn-secondary" value="Send">
    </form>
</div><!-- /.widget -->
                    <div class="widget widget-boxed widget-boxed-secondary">
    <form method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control">
        </div><!-- /.form-group -->


        <div class="form-group">
            <label>Type</label>

            <select class="form-control">
                <option value="">Apartman</option>
                <option value="">Building Area</option>
                <option value="">Condo</option>
                <option value="">House</option>
                <option value="">Warehouse</option>
            </select>
        </div><!-- /.form-group -->


        <div class="form-group">
            <label>Price From</label>

            <select class="form-control">
                <option value="">2000 €</option>
                <option value="">3000 €</option>
                <option value="">5000 €</option>
            </select>
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>Price To</label>

            <select class="form-control">
                <option value="">2000 €</option>
                <option value="">3000 €</option>
                <option value="">5000 €</option>
            </select>
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>Baths</label>

            <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>Beds</label>

            <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div><!-- /.form-group -->

        <input type="submit" class="btn btn-block btn-secondary" value="Filter">
    </form>
</div><!-- /.widget -->
                    <div class="widget widget-boxed widget-boxed-dark">
    <h3>Resellers</h3>

    <div class="list-group">
        <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Apartman<span class="badge">149</span></a>
        <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Building Area<span class="badge">35</span></a>
        <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Condo<span class="badge">1254</span></a>
        <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> House<span class="badge">35</span></a>
        <a href="#" class="list-group-item"><i class="fa fa-angle-right"></i> Warehouse<span class="badge">351</span></a>
    </div><!-- /.list-group -->
</div><!-- /.widget -->                 </div><!-- /.block-content -->
            </div><!-- /.sidebar -->
        </div>
    </div><!-- /.row -->

    <div class="block-content background-secondary fullwidth" data-background-image="../../assets/img/tmp/real-estate/banner3.png">
        <div class="block-content-inner">
            <h3 class="widgetized-title">Contact Agent</h3>

            <form method="post" action="?" class="ng-pristine ng-valid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your name" required="required">
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-mail" required="required">
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Phone" required="required">
                        </div><!-- /.form-group -->
                    </div>

                    <div class="col-sm-6">
                        <textarea placeholder="Message" required="required" class="form-control h155" rows="4"></textarea>
                    </div>
                </div><!-- /.row -->

                <div class="clearfix">
                    <p class="pull-left">* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                    <a href="#" class="btn btn-primary pull-right">Send</a>
                </div>
            </form>
        </div><!-- /.block-content-inner -->
    </div><!-- /.block-content -->
</div>
{% endblock %}